@import './globals';

// Overrides
i[class^="eva"] {
  display: flex;
}

.App {
  background-color: white;
  min-height: 100vh;

  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 17rem 1fr;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

.App-header {
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $bloombus-gray;
  grid-area: header;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  z-index: 900;

  &__title {
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 700;
  }
}

.App-nav {
  $bg: #eee;
  $li-hover-bg: #dedede;

  grid-area: nav;
  background-color: #eee;

  ul {
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;
  }

  li {
    &:not(:first-child) {
      margin-top: 0.3rem;
    }

    a {
      $size: 2.5rem;
      height: $size;
      border-top-left-radius: $size / 2;
      border-bottom-left-radius: $size / 2;
      display: flex;
      align-items: center;
      padding-left: $size / 2;
      width: 100%;
      text-decoration: none;
      font-weight: 700;
      color: $bloombus-gray;
      box-sizing: border-box;

      &:hover {
        background-color: $li-hover-bg;
      }

      &.active {
        background-color: $li-hover-bg;
      }
    }
  }

  &__heading {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
  }
}

.App-link {
  color: $bloombus-blue;
}

.Task {
  grid-area: main;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-top: 0;
  }

  button {
    margin-top: 0.5rem;
  }
}