@import url('https://fonts.googleapis.com/css?family=Nunito:800');

html,
body {
   height: 100%;
}

body {
   padding-top: 50px;
   /*padding for navbar*/
}

.title {
   vertical-align: middle;
   font-family: 'Nunito', sans-serif;
   font-weight: 800;
   font-size: 1.25em;
}

i {
   padding-left: 0.08em;
   vertical-align: sub;
   font-size: 1.2em !important;
}

.popover_bottom{
   top: auto;
   bottom: 55px;
}
.popover_bottom:before {
   display: none;
}
.popover_bottom:after {
   position: absolute;
   bottom: -15px;
   left: 50%;
   width: 0;
   height: 0;
   margin-left: -15px;
   content: '';
   border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 15px solid #fff;
}


#main,
#main>.row {
   height: 100%;
}

#main>.row {
   overflow-y: scroll;
}

#right {
   height: 100%;
}

#map {
   width: 100%;
   position: absolute;
   left: 0;
   top: 45px;
   bottom: 51px;
   overflow: hidden;
}