<!-- http://www.bootply.com/render/129821 -->
<!--
initMap
-->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Bus GPS | BloomU</title>
   <link rel="icon" type="image/png" href="img/favicon.png">

   <!-- Angular Material style sheet -->
   
   
   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster|Press+Start+2P|Wire+One" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,900">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
   <!-- BOOTSTRAP -->
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
   <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="css/custom.css">
   
   
   <!--ANGULAR 2-->
   
   <script src="libs/zone.js/zone.min.js"></script>
   <script src="libs/reflect-metadata/Reflect.js"></script>
   <script src="libs/systemjs/system.src.js"></script>
   
   <!-- 2. Configure SystemJS -->
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>

<body>
   <my-app>Loading...</my-app>
   <!-- begin template -->
   <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">BLOOM<i class="material-icons">directions_bus</i></a>
         <a class="menu">
            <i class="material-icons">menu</i>
         </a>
      </div>
   </nav>
   
   <div id="map" style="width:50%;"></div>
   <div class="container-fluid" id="main">
      <div class="row">
         <div class="col-xs-6">
            <!--map-canvas will be postioned here-->
         </div>
         <div class="col-xs-6" id="left">

            <h2>Bootstrap Google Maps Demo</h2>

            <!-- item list -->
            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>
            <!-- /item list -->

            <p>
               <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
            </p>

            <hr>

            <p>
               <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
            </p>

            <hr>

         </div>
         

      </div>
   </div>
   <!-- end template -->


   <!-- JQUERY -->
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

   <!-- BOOTSTRAP -->
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Maps Custom JS -->
   <script type="text/javascript" src="js/google-maps.js"></script>

   <!-- Google Maps -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM0NGGmZwQDYdzzDWmjwrGGNN2kDDr1os&callback=initMap" async defer></script>


   <script>
   </script>

</body>

</html>