<!--http://www.bootply.com/render/129821-->
<!--
initMap
-->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Bus GPS | BloomU</title>
   <link rel="icon" type="image/png" href="img/favicon.png">

   <!-- Angular Material style sheet -->
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,900">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

   <!-- BOOTSTRAP -->
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>
   <!-- begin template -->
   <div class="navbar navbar-custom navbar-fixed-top">
      <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
         <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </a>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li>&nbsp;</li>
         </ul>
         <form class="navbar-form">
            <div class="form-group" style="display:inline;">
               <div class="input-group">
                  <div class="input-group-btn">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                     <ul class="dropdown-menu">
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                        <li><a href="#">Category 4</a></li>
                        <li><a href="#">Category 5</a></li>
                     </ul>
                  </div>
                  <input type="text" class="form-control" placeholder="What are searching for?">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
               </div>
            </div>
         </form>
      </div>
   </div>

   <div id="map" style="width:50%;"></div>
   <div class="container-fluid" id="main">
      <div class="row">
         <div class="col-xs-6">
            <!--map-canvas will be postioned here-->
         </div>
         <div class="col-xs-6" id="left">

            <h2>Bootstrap Google Maps Demo</h2>

            <!-- item list -->
            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>

            <div class="panel panel-default">
               <div class="panel-heading"><a href="">Item heading</a></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci
               quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>

            <hr>
            <!-- /item list -->

            <p>
               <a href="http://www.bootply.com/render/129229">Demo</a> | <a href="http://bootply.com/129229">Source Code</a>
            </p>

            <hr>

            <p>
               <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
            </p>

            <hr>

         </div>
         

      </div>
   </div>
   <!-- end template -->


   <!-- JQUERY -->
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

   <!-- BOOTSTRAP -->
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Maps Custom JS -->
   <script type="text/javascript" src="js/google-maps.js"></script>

   <!-- Google Maps -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM0NGGmZwQDYdzzDWmjwrGGNN2kDDr1os&callback=initMap" async defer></script>


   <script>
   </script>

</body>

</html>